@use "../../global" as g;

.favorite-records {
  .shop-selector {
    margin-bottom: 20px;
    span {
      font-size: 15px;
      font-weight: bold;
      margin-right: 2px;
    }
  }
  .no-records {
    text-align: center;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      color: g.$brand-light-gray-color;
      span {
        display: inline-block;
      }
    }
  }
}
