services:
  db:
    image: postgres:14
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
    volumes:
      - .:/tyakudon
      - bundle:/usr/local/bundle
    environment:
      TZ: Asia/Tokyo
    ports:
      - "3000:3000"
    command: bin/dev
    depends_on:
      db:
        condition: service_healthy
    init: true
    tty: true
    stdin_open: true

volumes:
  postgresql-data:
  bundle:
