# fly.toml app configuration file generated for tyakudon on 2024-03-09T09:06:35+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tyakudon'
primary_region = 'nrt'
console_command = '/rails/bin/rails console'
swap_size_mb = 512

[build]

[deploy]
  release_command = './bin/rails db:prepare'
  strategy = 'bluegreen'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = '30s'
  interval = '30s'
  method = 'GET'
  timeout = '5s'
  path = '/up'

[[vm]]
  memory = 512
  cpu_kind = 'shared'
  cpus = 1
