@use "../../global" as g;
@use "search";

.favorite-records {
  .no-records {
    text-align: center;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      color: red;
      span {
        display: inline-block;
      }
    }
  }
}
