<p>こんにちは、<%= @user.name %> さん</p>
<p>ちゃくどんへようこそ！</p>
<p>以下のリンクをクリックしてアカウントを有効化してください。</p>
<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
<p>なお、このメールの内容に覚えのない方は、お手数でございますが、破棄していただきますようお願い申し上げます。</p>
