<%= render 'home/tabmenu' %>
<section class="favorite-records mb-4">
  <% if logged_in? && current_user.favorite_shops.any? %>
    <% if @records.any? %>
      <div class="records pb-2">
        <%= render @records, name: :ramen_shop %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @records %>
      </div>
    <% else %>
      <div class="no-records">
        <h3>まだお気に入り店のちゃくどんがありません</h3>
        <p><span>最初の</span><span>ちゃくどん報告をしよう！</span></p>
      </div>
    <% end %>
  <% else %>
    <div class="no-records">
      <h3>まだお気に入り店の登録がありません</h3>
      <p><span>お気に入り店舗を登録して</span><span>ちゃくどんレコードをチェックしよう！</span></p>
    </div>
  <% end %>
</section>
