<% content_for :js do %>
  <%= javascript_import_module_tag "timer" %>
<% end %>

<div id="<%= dom_id ramen_shop %>">
  <p>
    <strong>Name:</strong>
    <%= ramen_shop.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= ramen_shop.address %>
  </p>
  <div id="container">
    <div id="time">00:00:00.000</div>
    <div id="buttons">
      <input id="start" type="button" value="接続！">
      <input id="stop" type="button" value="休憩" disabled="true">
      <input id="end" type="button" value="着丼！" disabled="true">
      <input id="reset" type="button" value="はじめから" disabled="true">
      <input id="retire" type="button" value="離脱" disabled="true">
    </div>
  </div>  
</div>
