<%= render 'home/tabmenu' %>
<%= render 'shared/search_form' %>
<section class="shops mb-4">
  <div class="records list-group pb-2">
    <%= render @ramen_shops %>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @ramen_shops %>
  </div>
</section>
