@use "../../global" as g;

.record-line-status {
  .line-status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      margin-bottom: 0.5rem;
    }
  }
  h2 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
  }
  .accordion {
    .accordion-button {
      padding: 1.25rem 0.5rem;
      font-size: 1rem;
      &:not(.collapsed) {
        color: #000;
        background-color: var(--bs-accordion-active-bg);
        box-shadow: inset 0 calc(-1*var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
      }
      .line-status-layout {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .line-status-summary {
          display: flex;
          align-items: center;
          .badge {
            width: 40px;
          }
          .line-status-passed-time {
            margin-right: 0.5rem;
          }
        }
        .has-content-icons {
          margin-right: 0.5rem;
        }
      }
    }
    .accordion-body {
      padding: 0 1rem;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      .line-status-content {
        p {
          white-space: pre-wrap;
        }
        .line-status-image {
          width: 100%;
          min-height: 240px;
          border-radius: 5px;
          img {
            border-radius: 5px;
            object-fit: cover;
            width: 100%;
          }
        }
        .line-status-created-at {
          font-size: 0.8rem;
          color: g.$brand-light-gray-color;
        }
      }
    }
  }
}
