<% move_icon ||= false %>
<%= form_with model: current_user.likes.find_by(record: @record), html: { method: :delete, data: { controller: "like", action: "click->like#submit" } } do |f| %>
  <%= f.button :type => "button", class: 'like-button clicked' do %>
    <i class="fa-solid fa-thumbs-up like-icon <%= 'like-beat' if move_icon %>"></i>
    <span class="like-count"><%= @record.likes.count %></span>
  <% end %>
<% end %>
