<div class="records">
  <h2 class="border-bottom">ちゃくどんレコード</h2>
  <% if @user.records.any? %>
    <div class="list-group">
      <%= render @records, name: :ramen_shop %>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @records%>
    </div>
  <% else %>
    <p class="text-center">まだちゃくどんレコードがありません</p>
  <% end %>
</div>
