<% if @user.records.any? %>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0"><%= tag.span("レコード数 #{@user.records.count}") %></h6>
    <%= render @records, name: :ramen_shop %>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @records%>
    </div>
  </div>
<% end %>
