<li>
  <%= avatar_for user, :small %>
  <%= link_to user.name, user_path(user) %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "本当に削除しますか？" } %>
  <% end %>
  <%= render 'test_mode_form', user: user if current_user.admin? %>
</li>
