<% provide(:button_text, '更新する') %>
<h1>ユーザー編集</h1>
<div class="col-md-6">
  <%= render 'form' %>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <a href="https://gravatar.com/emails" target="_blank">変更する</a>
  </div>
</div>
