<%= render 'shared/search_form' %>
<section class="ranking mb-4">
  <h2 class="d-flex justify-content-center py-2 mt-3">ちゃくどんランキング</h2>
  <div class="records pb-2">
    <% @records.each_with_index do |record, index| %>
      <%= render partial: 'records/ranking_record', locals: { record: record, rank: @offset + index + 1 } %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @records %>
  </div>
</section>
