<div data-controller="map" data-action="map-loaded@window->map#createMap">
  <div data-map-target="isTestMode" data-value="<%= current_user.is_test_mode %>"></div>
  <div class="loading-spinner" data-map-target="spinner">
    <div class="spinner"></div>
  </div>
  <div id="map" data-map-target="map" style="display: none;"></div>
</div>
