<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>
<div id="map"></div>
<div id="content">ラーメン二郎三田本店</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
