<% content_for :meta do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>
<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>
<div id="map"></div>
<div id="loading-spinner" class="loading-spinner">
  <div class="spinner"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
