<td>
  <% if record.image.attached? %>
    <%= link_to url_for(record.image), target: '_blank', rel: 'noopener noreferrer' do %>
      <%= image_tag record.image.variant(:thumb),
                    class: 'thumb',
                    alt: t('shared.photo_thumb_alt', shop_name: record.ramen_shop.name) %>
    <% end %>
  <% else %>
    -
  <% end %>
</td>
