<td>
  <% if record.wait_time %>
    <%= link_to format_wait_time_human(record.wait_time), record_path(record, back: local_assigns[:back]) %>
    <%= t('shared.retired_label') if record.is_retired? %>
  <% else %>
    <%= link_to t('shared.connecting'), record_path(record, back: local_assigns[:back]) %>
  <% end %>
</td>
