<div class="shops">
  <h2 class="border-bottom">お気に入り店</h2>
  <% if @ramen_shops.any? %>
    <div class="list-group">
      <%= render @ramen_shops %>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @ramen_shops %>
    </div>
  <% else %>
    <p class="text-center">まだお気に入りの店舗がありません</p>
  <% end %>
</div>
