.timer {
  margin-bottom: 2rem;
  [data-timer-target="time"] {
    text-align: center;
    font-size: 2.5rem;
    margin: .5rem;
    padding: 1rem;
    font-family: sans-serif;
  }
}

.retire a {
  text-decoration: none;
  color: #4e4a4a;
  &:hover{
    text-decoration: underline solid #4e4a4a;
  }
}
