.records {
  .records-ranking_record {
    .list-item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
      .content {
        display: flex;
        align-items: center;
        .ranking {
          margin-right: 15px;
          .rank {
            font-weight: bold;
          }
          .unit {
            font-size: 12px;
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
}
