.records {
  .records-record {
    .list-item {
      padding-top: 0.7rem;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
      .content {
        width: 100%;
        .created_at {
          font-size: 12px;
        }
        .record-overview {
          display: flex;
          align-items: center;
          .record-summary {
            h3 {
              font-weight: bold;
              font-size: 14px;
              color: #705a5a;
            }
            .record-started-at {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 14px;
              color: gray;
            }
            .record-time {
              .hh-mm-ss {
                font-size: 24px;
              }
              .small-milliseconds {
                font-size: 17px;
              }
            }
          }
        }
        .record-extended {
          .record-comment {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: auto;
            padding: 5px 5px;
            border: 1px solid #bababa;
            border-radius: 5px;
            background-color: #fff;
            color: #333333;
            &:before,
            &:after {
                position: absolute;
                top: -15px;
                left: 10px;
                width: 20px;
                height: 15px;
                clip-path: polygon(50% 0, 0 100%, 100% 100%);
                content: '';
              }
              &:before {
                background-color: #bababa;
              }
              &:after {
                top: -13px;
                left: 10px;
                background-color: #fff;
            }
            .comment-content {
              font-size: 12px;
              text-align: left;
              width: 100%;
            }
          }
          .record-image {
            width: 100%;
            min-height: 200px;
            border-radius: 5px;
            img {
              width: 100%;
              max-height: 350px;
              object-fit: cover;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
}
