@use "../../global" as g;


.shop-info {
  .shop-name {
    margin-bottom: 0;
    font-size: 1.4rem;
  }
  .shop-address {
    font-size: 0.8rem;
    color: g.$brand-light-gray-color;
  }
}
a.shop-info {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.records-ranking_record, .records-record {
  .record-overview {
    display: flex;
    align-items: center;
    .record-summary {
      h3 {
        font-weight: bold;
        font-size: 14px;
        color: #705a5a;
      }
      .record-started-at {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        color: gray;
      }
      div {
        gap: 8px;
        .record-time {
          .hh-mm-ss {
            font-size: 24px;
          }
          .small-milliseconds {
            font-size: 17px;
          }
        }
        .record-status {
          font-size: 10px;
          padding: 3px 10px 2px 10px;
          font-weight: 400;
          color: white;
          border-radius: 10px;
        }
        .retired {
          background-color: #979797;
        }
        .finished {
          background-color: black;
        }
        .like-button {
          gap: 0;
          padding: 0;
          background-color: transparent;
          border: none;
          .like-count {
            margin-left: 3px;
          }
        }
      }
    }
  }
}

#records-result, #records-show {
  .record-header {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  .record-time {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: auto 1rem;
    padding: 1rem 0;
    .hh-mm-ss {
      font-size: 3rem;
    }
    .small-milliseconds {
      font-size: 2rem;
    }
  }
  .record-ended-at {
    .retired {
      background-color: #979797;
    }
  }
}
