@use "../../global" as g;

#records-show {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      .record-number {
        margin-left: 0.5rem;
      }
    }
    .share-button {
      display: inline-block;
      font-size: 12px;
      text-decoration: none;
      padding: 0.5rem;
      background-color: black;
      color: white;
      border-radius: 5px;
      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  .record-content {
    text-align: center;
    margin: 1rem auto;
    .record-duration {
      margin: 0 auto;
      margin-bottom: 1rem;
      width: 310px;
      text-align: left;
      font-size: 0.9rem;
      padding: 0.5rem 0;
      .record-started-at {
        margin-bottom: 0.3rem;
      }
      .date-time {
        color: g.$brand-light-gray-color;
        margin-right: 0.5rem;
      }
    }
    .record-image {
      margin-bottom: 1rem;
      width: 100%;
      min-height: 250px;
      border-radius: 5px;
      img {
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
      }
    }
    .record-comment {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 1rem auto;
      width: auto;
      padding: .8em 1.2em;
      border: 1px solid #bababa;
      border-radius: 5px;
      background-color: #fff;
      color: #333333;
      &:before,
      &:after {
          position: absolute;
          top: -15px;
          width: 30px;
          height: 15px;
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
          content: '';
      }
      &:before {
          background-color: #bababa;
      }
      &:after {
          top: -13px;
          background-color: #fff;
      }
    }
    .comment-content {
      text-align: left;
      width: 100%;
    }
    .user-info {
      text-decoration: none;
      color: #000;
      .user-avatar {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        .avatar {
          width: 50px;
          height: 50px;
          margin-right: 3px;
        }
      }
      .user-name {
        margin-right: 3px;
      }
      .user-record-count {
        font-size: 0.8rem;
        color: g.$brand-light-gray-color;
      }
    }
  }
}
