@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

@font-face {
  font-family: 'Sato Sans JP';
  src: url('NotoSansJP-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@mixin NotoSansJP {
	font-family: 'Noto Sans JP', sans-serif;
}
