<h1>待ち状況を編集する</h1>
<%= bootstrap_form_with model: @line_status do |form| %>
  <%= render "form", f: form %>
  <%= form.submit '更新', class: "btn btn-sm btn-warning", data: { disable_with: '更新中...' } %>
<% end %>
