<div id=”statics-about”>
  <section class="introduction">
    <h1>ちゃくどんはラーメン店への接続から着丼までの時間を記録・共有するサービスです</h1>
  </section>
  <section class="term">
    <dl>
      <dt>接続</dt>
      <dd>行列に並ぶことを接続といいます。</dd>
      <dt>着丼</dt>
      <dd>ラーメンが出来上がって提供されることをいいます。</dd>
    </dl>
  </section>
  <section class="new-records">
    <h2>最新のちゃくどんレコード</h2>
  </section>
  <section class="step">
    <h2>ご利用の流れ</h2>
    <ol>
      <li>お店に着いたら接続します</li>
      <li>適宜行列の様子を報告します</li>
      <li>ラーメンが提供されたら着丼報告します</li>
    </ol>
  </section>
</div>
