<div class="col">
  <div class="center jumbotron">
    <h1>接続と着丼</h1>
    <h2>行列に並び始めるのは接続、丼が提供されたら着丼。ここまでの時間を計測しシェアします。</h2>
  </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat eum rerum similique nihil eaque voluptatem commodi molestias cupiditate nesciunt cum quaerat voluptate deleniti optio, molestiae expedita aspernatur debitis quas.</p>
</div>
