<div id="statics-privacy_policy">
  <h1>プライバシーポリシー</h1>
  <p>
    ちゃくどん（以下，「当方」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，利用者（以下, 「ユーザー」と言います。）のユーザー情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
  </p>

  <h2>第1条（収集するユーザー情報及び収集方法）</h2>
  <p>
    本ポリシーにおいて、「ユーザー情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他利用者または利用者の端末に関連して生成または蓄積された情報であって、本ポリシーに基づき当方が収集するものを意味するものとします。本サービスにおいて当方が収集するユーザー情報は以下になります。
  </p>
  <ol>
    <li>ユーザーのニックネーム</li>
    <li>ユーザーのメールアドレス</li>
  </ol>

  <h2>第2条（ユーザー情報を収集・利用する目的）</h2>
  <p>
    当方がユーザー情報を収集・利用する目的は，以下のとおりです。
  </p>
  <ol>
    <li>当方サービスの提供・運営のため</li>
    <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
    <li>ユーザーが利用中のサービスの新機能，更新情報，及び当方が提供する他のサービスの案内のメールを送付するため</li>
    <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
    <li>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
    <li>ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</li>
    <li>上記の利用目的に付随する目的</li>
  </ol>

  <h2>第3条（利用目的の変更）</h2>
  <ol>
    <li>当方は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，ユーザー情報の利用目的を変更するものとします。</li>
    <li>利用目的の変更を行った場合には，変更後の目的について，当方所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</li>
  </ol>

  <h2>第4条（ユーザー情報の第三者提供）</h2>
  <p>
    ご本人の許可なく第三者にユーザー情報を開示または提供することは原則的にはいたしません。ユーザー情報を第三者に提供する際には、事前にご本人の同意をいただいたうえで行ないます。ただし、以下の場合を除きます。
  </p>
  <ol>
    <li>警察やその他の官公署からの法的要請</li>
    <li>法律の適用を受ける場合</li>
  </ol>

  <h2>第5条（ユーザー情報の開示）</h2>
  <p>
    当方は，ご本人から自己情報の開示、訂正・削除、または利用もしくは提供の拒否を求められたときは、適性に応じます。
  </p>

  <h2>第6条（ユーザー情報の訂正および削除）</h2>
  <ol>
    <li>ユーザーは，当方の保有する自己のユーザー情報が誤った情報である場合には，当方が定める手続きにより，当方に対してユーザー情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。</li>
    <li>当方ははお客様ご本人を確認させていただいたうえで、合理的な期間内に対応いたします。</li>
  </ol>

  <h2>第7条（ユーザー情報の利用停止等）</h2>
  <ol>
    <li>当方は、以下の目的でクッキーを利用いたします。</li>
    <ol>
      <li>設定内容の保存等利便性向上のため</li>
      <li>セッションの維持及び保護等セキュリティのため</li>
    </ol>
    <li>クッキーは、ユーザーを同一人物であると確認するための情報としてのみ使用しており、個人が特定されるような情報は含んでおりません。</li>
    <li>クッキーの使用可否については自由にご選択いただけますが、クッキーの保存を拒否される場合にはログインが必要なサービス等、本サービスの一部をご利用いただけない場合があります。</li>
  </ol>

  <h2>第8条（プライバシーポリシーの変更）</h2>
  <ol>
    <li>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</li>
    <li>当方が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</li>
  </ol>

  <h2>第9条（お問い合わせ窓口）</h2>
  <p>
    本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。
  </p>
  <p>
    連絡先: tontonka2@gmail.com
  </p>
</div>
