<div id="statics-terms">
  <h1>利用規約</h1>
  <p>
    この利用規約（以下，「本規約」といいます。）は，「ちゃくどん」（以下，「当方」といいます。）がこのウェブサイトで提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザー（以下，「ユーザー」といいます。）は、本規約に従い，本サービスをご利用いただきます。
  </p>

  <h2>第1条（適用）</h2>
  <ol>
    <li>本規約は，ユーザーと当方の間の本サービスの利用に関する全ての関係に適用されます。</li>
    <li>当方は本サービスについて，本規約以外にも利用ルール等，各種の定めを設けることがあります（以下，「個別規定」といいます。）。これら個別規定は，その名称にかかわらず，本規約の一部として扱われます。</li>
    <li>本規約と個別規定が矛盾する場合，特別な記載がなければ，個別規定が優先されます。</li>
  </ol>

  <h2>第2条（利用者登録）</h2>
  <p>本サービスの利用を希望する方は、申し込みフォームに必要事項を正確に記入して申し込むものとします。</p>

  <h2>第3条（ユーザーID及びパスワードの管理）</h2>
  <ol>
    <li>ユーザーは，自己の責任で，本サービスのユーザーIDとパスワードを管理しなければなりません。</li>
    <li>ユーザーは、いかなる場合でも，ユーザーIDやパスワードを第三者に渡したり、共有したりしてはいけません。</li>
    <li>登録情報と一致するユーザーIDとパスワードでログインされた場合，それは登録しているユーザー本人の利用とみなされます。</li>
    <li>ユーザーIDやパスワードが第三者に使われたことによる損害について、当方が故意または重過失をもって行動しない限り、当方の責任は負いません。</li>
  </ol>

  <h2>第4条（禁止事項）</h2>
  <p>
    ユーザーは、以下の行為を禁じられています。
  </p>
  <ol>
    <li>法令や公序良俗に違反する行為</li>
    <li>犯罪に関連する行為</li>
    <li>当方、他のユーザー、または第三者のサーバーやネットワークを妨害する行為</li>
    <li>不正アクセスをし，またはこれを試みる行為</li>
    <li>他のユーザーに成りすます行為</li>
    <li>当方のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
    <li>当方，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</li>
    <li>以下の表現を含み，または含むと当方が判断する内容を本サービス上に投稿し，または送信する行為</li>
    <ol>
      <li>過度に暴力的な表現</li>
      <li>人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現</li>
      <li>その他反社会的な内容を含み他人に不快感を与える表現</li>
    </ol>
    <li>以下を目的とし，または目的とすると当方が判断する行為</li>
    <ol>
      <li>営業，宣伝，広告，勧誘，その他営利を目的とする行為（当方の認めたものを除きます。）</li>
      <li>他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為</li>
      <li>当方，本サービスの他のユーザー，または第三者に不利益，損害または不快感を与えることを目的とする行為</li>
      <li>その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
    </ol>
    <li>その他，当方が不適切と判断する行為</li>
  </ol>

  <h2>第5条（本サービスの提供の停止等）</h2>
  <p>
    当方は、以下の事由があると判断した場合、事前にユーザーに通知することなく、本サービスの全てまたは一部を停止または中断することができます
  </p>
  <ol>
    <li>システムの保守や更新のため</li>
    <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
    <li>コンピュータまたは通信回線等が事故により停止した場合</li>
    <li>その他，当方が本サービスの提供が困難と判断した場合</li>
    <li>当方は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</li>
  </ol>

  <h2>第6条（著作権）</h2>
  <p>
    ユーザーは、自らの知的財産権を持つ、または許諾を得た情報（文章、画像、映像等）のみを本サービスで投稿・アップロードできるものとします。
    ユーザーが本サービスで投稿・アップロードした情報の著作権は、該当ユーザーや権利者に帰属します。但し、当方は、本サービスの改善や宣伝等の目的で、これらの情報を使用できるものとします。ユーザーは、これに対して著作者人格権を行使しないものとします。
    上記を除いた、本サービスや関連情報の著作権及び知的財産権は、当方または許諾を受けた者に帰属します。ユーザーはこれらを無断で使用することはできません。
  </p>

  <h2>第7条（利用制限および登録抹消）</h2>
  <p>
    当方は、ユーザーが以下の行為をした場合、予告無しに内容の削除や利用制限、登録抹消を行うことができます。
  </p>
  <ol>
    <li>本規約に違反した場合</li>
    <li>虚偽の情報を登録した場合</li>
    <li>当方からの連絡に対して一定期間応答が無い場合</li>
    <li>その他、当方が不適切と判断した場合</li>
    <li>但し、この行為によるユーザーの損害に対して当方は責任を負いません。</li>
  </ol>

  <h2>第8条（保証の否認および免責事項）</h2>
  <p>
    当方は、本サービスに瑕疵がないことを保証しておらず、ユーザーに発生した損害に対して、故意または重過失を除き、責任を負いません。但し、消費者契約法の規定に従い、一部の免責は適用されない場合があります。
  </p>

  <h2>第9条（サービス内容の変更等）</h2>
  <p>
    当方は、提供するサービスを予告無しに変更・中止することがあり、ユーザーはこれを受け入れるものとします。
  </p>

  <h2>第10条（利用規約の変更）</h2>
  <ol>
    <li>当方は、適切な方法での告知により、本利用規約を変更することができます。</li>
    <li>変更後にサービスを利用した場合、ユーザーは変更を受け入れたものとみなされます。</li>
  </ol>

  <h2>第11条（個人情報の取扱い）</h2>
  <p>
    ユーザーの個人情報は、当方の「プライバシーポリシー」に従って適切に取り扱われます。
  </p>

  <h2>第12条（通知または連絡）</h2>
  <ol>
    <li>ユーザーとの間での通知や連絡は、当方が定める方法で行います。</li>
    <li>当方は、指定された連絡先を有効とみなし、そこへの通知をもって到達したものとします。</li>
  </ol>

  <h2>第13条 (事業の譲渡)</h2>
  <ol>
    <li>当方は、本サービスの事業を他者に譲渡する場合、ユーザーの情報や本規約に基づく権利義務等も譲渡することができます。</li>
    <li>ユーザーは、この譲渡を予め承諾するものとします。</li>
  </ol>

  <h2>第14条（準拠法・裁判管轄）</h2>
  <ol>
    <li>本規約の解釈には、日本法が適用されます。</li>
    <li>サービスに関する紛争は、東京都の裁判所が専属的に管轄するものとします。</li>
  </ol>
</div>
