@use "../global" as g;

.nav-menu-bar {
  background-color: g.$brand-yellow-color;
  height: 56px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
  nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px;
    .navbar-brand {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
    .right-side-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      input[type="checkbox"] {
        position: absolute;
        right: -50vw;
      }
      input[type="checkbox"]:checked ~ .back {
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
      }
      input[type="checkbox"]:checked ~ .side-menu {
        top: 0;
        right: 0;
      }
      .open {
        background-image: url('steam.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        height: 50px;
        vertical-align: middle;
        width: 50px;
      }
      .close {
          cursor: pointer;
          height: 50px;
          margin: 10px;
          position: relative;
          width: 50px;
          span {
            background: black;
            border-radius: 3px;
            height: 3px;
            left: 8px;
            position: absolute;
            top: 18px;
            transform: translateY(6px) rotate(-45deg);
            width: 70%;
            &:after {
              background: inherit;
              border-radius: inherit;
              content: '';
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              transform: rotate(90deg);
              width: 100%;
            }
          }
      }
      .side-menu {
        $side-menu-width: 220px;
        align-items: flex-end;
        background-color: g.$brand-yellow-color;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: absolute;
        right: -$side-menu-width;
        top: 0;
        transition: all 0.2s;
        width: $side-menu-width;
        .nav-links {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          position: relative;
          $side-margin-width: 5px;
          li {
            border-bottom: 1px solid #333;
            margin: 0 $side-margin-width;
            padding: 10px;
            &:before {
              content: "";
              border-bottom: 1px solid #333;
              left: $side-margin-width;
              position: absolute;
              top: 0;
              width: calc($side-menu-width - $side-margin-width * 2);
            }
            a {
              svg {
                margin-right: 10px;
                width: 18px;
              }
              .new-icon {
                background: url('sparkles.svg') no-repeat center;
                height: 18px;
                margin-top: -5px;
              }
            }
          }
        }
        .order-for-logged-in-users {
          li:nth-child(2) { order: 1; } // プロフィール
          li:nth-child(1) { order: 2; } // お気に入り
          li:nth-child(4) { order: 3; } // 新着
          li:nth-child(5) { order: 4; } // 店舗検索
          li:nth-child(3) { order: 5; } // ログアウト
          li:nth-child(6) { order: 6; } // ちゃくどんについて
          li:nth-child(7) { order: 7; } // よくある質問
          li:nth-child(8) { order: 8; } // Users
          li:nth-child(9) { order: 9; } // 店舗登録
        }
        .order-for-all-users {
          li:nth-child(5) { order: 1; } // ちゃくどんについて
          li:nth-child(6) { order: 2; } // よくある質問
          li:nth-child(1) { order: 3; } // ユーザー登録
          li:nth-child(2) { order: 4; } // ログイン
          li:nth-child(3) { order: 5; } // 新着
          li:nth-child(4) { order: 6; } // 店舗検索
        }
      }
      .login-link {
        font-size: 12px;
        border: 2px solid #212529;
        border-radius: 5px;
        margin-right: 5px;
        padding: 4px 10px;
      }
    }
  }
}
