<section class='features'>
  <div class='container'>
    <h2>ちゃくどんの特徴３選</h2>
    <ul>
      <li class='feature'>
        <span class='feature-number'>01</span>
        <div class='image-container'>
          <%= image_tag 'landing_page/stopwatch-icon', alt: '着丼時間計測機能', class: 'feature-image' %>
        </div>
        <h3>待ち時間がわかる</h3>
        <p>接続から着丼までの<span>ちゃくどんレコードを計測し共有します。</span></p>
      </li>
      <li class='feature'>
        <span class='feature-number'>02</span>
        <div class='image-container'>
          <%= image_tag 'landing_page/people-icon', alt: '行列状況投稿機能', class: 'feature-image' %>
        </div>
        <h3>行列の様子がわかる</h3>
        <p>待っているのは店の外か中か。<span>待ち時間の様子がより具体的になります。</span></p>
      </li>
      <li class='feature'>
        <span class='feature-number'>03</span>
        <div class='image-container'>
          <%= image_tag 'landing_page/favorite-icon', alt: '店舗お気に入り機能', class: 'feature-image' %>
        </div>
        <h3>お気に入り店舗をチェック</h3>
        <p>気に入ったラーメン店を簡単に登録。<span>いつでも最新の情報をチェックできます。</span></p>
      </li>
    </ul>
  </div>
</section>
