<section class='top-records'>
  <div class='container'>
    <h2>ちゃくどんトップレコード</h2>
    <div class='record-cards'>
      <div class='card'>
        <h3>おそい部門</h3>
        <%= render 'record', record: @longest_record %>
      </div>
      <div class='card'>
        <h3>はやい部門</h3>
        <%= render 'record', record: @shortest_record %>
      </div>
      <div class='card'>
        <h3>いいね部門</h3>
        <%= render 'record', record: @most_like_record %>
      </div>
    </div>
    <%= link_to '全てのランキングを見る', ranking_path, class: 'raking_link' %>
  </div>
</section>
