.definitions {
  dl {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    dd {
      font-size: 1em;
      line-height: 1.7;
      margin: 0;
      margin-top: 6px;
      padding-left: 16px;
    }
    dt {
      border-left: 4px solid #e26b5d;
      font-size: 1.1em;
      font-weight: bold;
      padding-left: 12px;
    }
  }
}
