<div class="records-ranking_record">
  <%= link_to record_path(record), class: 'list-group-item-action list-item' do %>
    <div class="content">
      <div class="ranking">
        <span class="rank"><%= rank %></span>
        <span class="unit">位</span>
      </div>
      <div class="record-overview">
        <%= render partial: 'records/record_overview', locals: { record: record, name: :ramen_shop } %>
      </div>
    </div>
    <div class="ps-1">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
</div>
