#container {
  background-color: #ffffff;
  width: 540px;
  border-radius: 1rem;
  padding: 1.5rem;

  #time {
    color: black;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: .5rem;
  }
  
  #buttons {
    font-size: 3rem;
    text-align: center;
  
    #start, #end, #stop, #reset, #retire {
      font-size: 1.5rem;
      border-radius: .3rem;
    }
  }
}


