@font-face {
  font-family: '851letrogo';
  src: url('851letrogo_007.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sato Sans JP';
  src: url('NotoSansJP-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
