.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.avatar-image {
  border-radius: 50%;
  width: 38px;
  height: 33px;
  margin-right: 10px;
  .small-avatar {
    border-radius: 50%;
    width: 33px;
    height: 33px;
  }
}
