@use "../global" as g;

.button-primary {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  padding: 0.5rem;
  background-color: g.$brand-yellow-color;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.button-primary:hover {
  background-color: g.$brand-yellow-hover-color;
  color: #000;
}

.button-big {
  border: 3px solid #000;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.button-sm {
  font-size: .75rem;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

%base-button {
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}

@keyframes like-beat {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(-10deg);
  }
}

.like-button {
  @extend %base-button;
  background-color: transparent;
  &.clicked {
    background-color: g.$brand-yellow-color;
    border-color: g.$brand-yellow-color;
  }
  .like-icon, .like-count {
    color: black;
  }
  .like-count {
    margin-left: 8px;
  }
  .like-beat {
    animation: like-beat 0.3s ease-in-out;
  }
}

.share-button {
  @extend %base-button;
  background-color: black;
  color: white;
  &:hover {
    color: white;
  }
  .share-text {
    margin-left: 8px;
  }
}

@mixin base-select-button {
  background-color: #f8e8c1;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  display: block;
  font-size: 13px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover, &.selected-shop, &.selected-type {
    background-color: g.$brand-yellow-color;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &.selected-type {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}

.sort-type-buttons {
  margin-bottom: 20px;
  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      flex: 1;
      min-width: 70px;
      a {
        @include base-select-button;

        .my-icon {
          height: 13px;
          width: 17px;
          &.rabbit {
            background: url('running_rabbit.svg') no-repeat center;
            margin-bottom: 2px;
          }
          &.turtle {
            background: url('turtle.svg') no-repeat center;
            margin-bottom: 1px;
          }
        }
      }
    }
  }
}

.filter-button {
  @include base-select-button;
}
