@use "../global/" as g;

label {
  font-size: 0.9rem;
  position: relative;
  &.required:after {
    background-color: #ffda45;
    border-radius: 2px;
    color: #000;
    content: "必須";
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
    position: absolute;
    right: -34px;
    top: 0;
  }
  &.optional:after {
    background-color: g.$brand-light-gray-color;
    opacity: .7;
    border-radius: 8px;
    color: #fff;
    content: "任意";
    font-size: 10px;
    padding: 0.2rem 0.4rem;
    position: absolute;
    right: -40px;
    top: 0;
  }
}

.filter_form {
  position: relative;
  .toggle-all-box {
    position: absolute;
    top: 0;
    right: 0;
  }
}
