name: Deploy work flow for Fly

on:
  pull_request:
    branches:
      - main
    types: [closed]

env:
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production

      - name: Success
        uses: rtCamp/action-slack-notify@v2
        if: success()
        env:
          SLACK_TITLE: Deploy flow / success
          SLACK_COLOR: good
          SLACK_MESSAGE: Message for success

      - name: Failure
        uses: rtCamp/action-slack-notify@v2
        if: failure()
        env:
          SLACK_TITLE: Deploy flow / failure
          SLACK_COLOR: danger
          SLACK_MESSAGE: Message for failure

      - name: Cancel
        uses: rtCamp/action-slack-notify@v2
        if: cancelled()
        env:
          SLACK_TITLE: Deploy flow / cancel
          SLACK_COLOR: danger
          SLACK_MESSAGE: Message for cancel
