@use "../../global" as g;

#ramen_shops-show {
  .ramen_shop {
    padding-bottom: 40px;
    text-align: center;
    h1 {
      font-size: 1.5rem;
    }
    p {
      color: g.$brand-very-light-gray;
      font-size: 0.8rem;
    }
    div[data-controller="shop-map"] {
      margin-top: -20px;
    }
    #shop-map {
      margin-top: 30px;
      width: 100%;
      height: 300px;
    }
    .route-map-link {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  .content {
    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      padding-bottom: 0.8rem;
      text-align: center;
    }
    p {
      color: g.$brand-very-light-gray
    }
  }
}
