<li>
  <%= link_to new_records_path, class: 'nav-link' do %>
    <svg class='new-icon' aria-hidden='true'></svg>
    新着
  <% end %>
</li>
<li>
  <%= link_to ramen_shops_path, class: 'nav-link' do %>
    <i class='fa-solid fa-magnifying-glass'></i>
    店舗検索
  <% end %>
</li>
<li>
  <%= link_to lp_path, class: 'nav-link' do %>
    <svg class='new-icon' aria-hidden='true'></svg>
    ちゃくどんについて
  <% end %>
</li>
<li>
  <%= link_to faqs_path, class: 'nav-link' do %>
    <i class="fa-solid fa-question"></i>
    よくある質問
  <% end %>
</li>
