<footer class="bg-light text-center text-lg-start">
  <% if logged_in? && show_connect_button? %>
    <div class="p-1 fixed-bottom">
      <div class="d-grid col-sm-6 mx-auto">
        <% if cookies[:record_id] %>
          <%= link_to '接続中レコード', measure_record_path(cookies.encrypted[:record_id]), class: "btn btn-warning" %>
        <% else %>
          <%= link_to '現在地からセツゾク', search_path, class: "btn btn-warning" %>
        <%  end %>
      </div>
    </div>
  <% end %>
  <div class="text-center p-1 pb-5" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 moriw0
  </div>
</footer>
