<footer class="footer">
  <small>
    チャクドン！ by もりを
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", statics_about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>
