<div class='nav-menu-bar'>
  <nav>
    <%= link_to 'ちゃくどん', root_path, class: 'navbar-brand' %>
    <div class='right-side-section'>
      <% if logged_in? %>
        <input id='menu' type='checkbox'/>
        <label for='menu' class='back'></label>
        <label for='menu' class='open'></label>
        <div class='side-menu'>
          <label for='menu' class='close'><span></span></label>
          <%= render 'layouts/side_menu_links' %>
        </div>
      <% else %>
        <ul class='all-user-links'>
          <li><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
          <li><%= link_to 'ログイン', login_path, class: 'nav-link login-link' %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
