<li>
  <%= link_to new_user_path, class: 'nav-link' do %>
    <i class="fa-solid fa-user"></i>
    ユーザー登録
  <% end %>
</li>
<li>
  <%= link_to login_path, class: 'nav-link' do %>
    <i class="fa-solid fa-arrow-right-to-bracket"></i>
    ログイン
  <% end %>
</li>
