<li>
  <%= link_to favorite_records_path, class: 'nav-link' do %>
    <i class='fa-solid fa-star'></i>
    お気に入り
  <% end %>
</li>
<li>
  <%= link_to current_user, class: 'nav-link' do %>
    <i class='fa-solid fa-user'></i>
    プロフィール
  <% end %>
</li>
<li>
  <%= link_to logout_path, data: { 'turbo-method': :delete }, class: 'nav-link' do %>
    <i class='fa-solid fa-arrow-right-from-bracket'></i>
    ログアウト
  <% end %>
</li>
<% if current_user.admin? %>
  <li><%= link_to 'Users', users_path, class: 'nav-link' %></li>
<% end %>
