<label for='menu' class='open'></label>
<div class='side-menu'>
  <label for='menu' class='close'><span></span></label>
  <% if logged_in %>
    <ul class='nav-links order-for-logged-in-users'>
      <%= render 'layouts/links_for_logged_in_users' %>
      <%= render 'layouts/common_links' %>
    </ul>
  <% else %>
    <ul class='nav-links order-for-all-users'>
      <%= render 'layouts/links_for_all_users' %>
      <%= render 'layouts/common_links' %>
    </ul>
  <% end %>
</div>
