@use "../../global/" as g;

#users-new {
  .agreement {
    margin-bottom: 1rem;
    label {
      a {
        color: g.$brand-light-gray-color;
        &:hover {
          color: g.$brand-light-gray-color;
          opacity: 0.8;
        }
      }
    }
  }
}
