#users-show_layout {
  .user {
    text-align: center;
    .user_info {
      margin: 0 auto;
      width: fit-content;
      .avatar {
        margin: 0 auto;
      }
      h1 {
        font-size: 1.2em;
        margin-bottom: 2rem;
        margin-top: 1rem;
        text-align: center;
      }
    }
    .profile-edit {
      margin-bottom: 2rem;
    }
  }
}
