@use "../../global" as g;

#users-show_layout {
  .user {
    text-align: center;
    padding-bottom: 40px;
    .user_info {
      margin: 0 auto;
      width: fit-content;
      .avatar {
        margin: 0 auto;
      }
      h1 {
        font-size: 1.2em;
        margin-bottom: 2rem;
        margin-top: 1rem;
        text-align: center;
        .email {
          display: block;
          font-size: 12px;
          margin-top: 10px;
        }
        .not_activated_tag {
          background-color: var(--bs-code-color);
          border-radius: 20px;
          color: white;
          display: block;
          font-size: 12px;
          margin-top: 10px;
          padding: 8px 20px;
        }
      }
    }
    .profile-edit {
      margin-bottom: 2rem;
    }
  }
  .content {
    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      padding-bottom: 0.8rem;
      text-align: center;
    }
    p {
      color: g.$brand-very-light-gray
    }
  }
}
